body {
    margin: auto;
}

.x-button {
    vertical-align: center;
}

.lists-columns {
    border-radius: 5px;
}

.lists-columns:hover {
    transition: .2s;
    background-color: #42474D;
}

.todos-flex {
    border-radius: 5px;
}

.todos-flex:hover {
    transition: .2s;
    background-color: #3f4343;
}

.form-label {
    color: black;
    font-weight: bold;
}

.scrollable-container {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollable-container::-webkit-scrollbar {
    display: none;
}